asgiref==3.3.1
atomicwrites==1.4.0
attrs==20.3.0
AudioConverter==0.3.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.11.8
chardet==3.0.4
click==7.1.2
colorama==0.4.4
configparser==5.0.2
decorator==4.4.2
Django==3.1.7
ffmpeg==1.4
gitdb==4.0.5
GitPython==3.1.11
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.2
iniconfig==1.1.1
jsonpath==0.82
mkvtomp4==2.0
moviepy==1.0.3
mplayer.py==0.7.2
numpy==1.19.4
packaging==20.9
Pillow==8.0.1
pluggy==0.13.1
proglog==0.1.9
py==1.10.0
pydub==0.24.1
PyMPlayer==0.6.0
pyparsing==2.4.7
pytest==6.2.2
pytest-order==0.10.0
pytube==10.4.1
pytz==2021.1
requests==2.24.0
selenium==3.141.0
smmap==3.0.4
soupsieve==2.1
sqlparse==0.4.1
toml==0.10.2
tqdm==4.51.0
typing-extensions==3.7.4.3
urllib3==1.25.11
